@import "tailwindcss";
@theme {
  /* colors  */
  --color-dashboard-background: #fafafa;
  --color-black: #050505;
  --color-grey: #313131;
  --color-white: #fcfcfc;
  --color-original-white: #ffffff;
  --color-red: #f31d00;
  --color-blue: #0000f5;
  --color-blue-main: #02066f;
  --color-light-white: #e6e6f1;
  --color-border-grey: #02066f33;
  --color-sidebar-links-border: #f9f4ff;
  --color-field: #ccdbe9;
  --color-field-shadow: #004b8f;
  --color-green: #148e00;

  /* font size */
  --text-custom-base: 18px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 32px;
  --text-custom-4xl: 40px;

  /* line height */
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
}

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 5px;
}

::selection {
  background-color: var(--color-blue);
  color: var(--color-white);
}

th {
  padding: 16px 24px;
  letter-spacing: 5%;
  line-height: 16px;
  font-weight: 600;
}
td {
  padding: 16px 24px;
  line-height: var(--leading-160);
}
